<%- include('partials/header') %>
<h1>DASHBOARD</h1>
<h2>All User's Stories</h2>

<ul>
  <% allUserPosts.forEach(post => { %>
  <li><%=post.title%></li>
  <li><%=post.body%></li>
  <li><%=post.postType%></li>
  <button><i class="bi bi-heart-fill"></i> <%=post.heart.length%></button>
  <button>
    <i class="bi bi-heartbreak-fill"></i> <%=post.heartBreak.length%>
  </button>

  <button>
    <a
      style="color: black; text-decoration: none"
      href="editButton/<%=post._id%>"
      >Edit</a
    >
  </button>

  <button class="deletePost" data-DeleteID="<%=post._id%>">Delete</button>
  <br />
  <br />
  <% }) %>
</ul>
<h2>User's Story Comments</h2>
<ul>
  <% postsWithUserComments.forEach(postWithComment => { %>

  <li><%=postWithComment.post.title%></li>

  <li>
    <%=postWithComment.body%><br />
    <button>
      <i class="bi bi-heart-fill"></i> <%=postWithComment.heart.length%>
    </button>
    <button>
      <i class="bi bi-heartbreak-fill"></i>
      <%=postWithComment.heartBreak.length%>
    </button>

    <button>
      <a
        style="color: black; text-decoration: none"
        href="../comment/editCommentButton/<%=postWithComment._id%>"
        >Edit</a
      >
    </button>

    <button
      class="deleteComment"
      data-DeleteCommentID="<%=postWithComment._id%>"
    >
      Delete
    </button>
  </li>

  <% }) %>
</ul>

<h2>Wall Posts</h2>

<ul>
  <% wallPosts.forEach(wallPost => { %>
  <a href="/wall/<%= wallPost._id%>">
    <img src="<%=wallPost.image%>" loading="lazy" width="50%"
  /></a>

  <br /><br />
  <li>
    <%=wallPost.caption%><br />
    <button><i class="bi bi-heart-fill"></i> <%=wallPost.heart.length%></button>

    <button>
      <i class="bi bi-heartbreak-fill"></i> <%=wallPost.heartBreak.length%>
    </button>

    <button class="deleteWallPost" data-DeleteWallPostID="<%=wallPost._id%>">
      Delete</button
    ><br /><br />
  </li>

  <% }) %>
</ul>
<%- include('partials/footer') %>
