<%- include('partials/header') %>
<h1>Edit a Post About Your Mom!</h1>
<form action="/post/editPost/<%=post._id%>" method="POST">
  <input type="hidden" name="_method" value="PUT" />

  <input type="text" placeholder="Title" name="title" value="<%=post.title%>" />
  <br /><br />
  <input type="text" placeholder="Body" name="body" value="<%=post.body%>" /><br /><br />

  <select id="postType" name="postType">
    <% let choices = [ "aww", "thankful", "blessing", "heartbroken",
    "remorseful", "cranky","free", "fortunate", "humbled" ]
    choices.forEach(choice => { let selected = post.postType === choice ?
    "selected" : ""; %>
    <option value="<%=choice %>" <%="selected" %>> <%=choice %></option>
    <% }) %></select><br /><br />
  <input type="submit" />
</form>

<a href="/post/dashboard">Dashboard</a>

<a href="/auth/logout">Logout</a>

<%- include('partials/footer') %>