<%- include('partials/header') %>
<h1>Edit a Post About Your Mom!</h1>

<form action="/post/editPost/<%=post._id%>" method='POST'>
    <input type="hidden" name="_method" value="PUT">

    <input type="text" placeholder="Title" name='title' value="<%=post.title%>"> <br><br>
    <input type="text" placeholder="Body" name='body' value="<%=post.body%>"><br><br>

 


    <select id="postType" name="postType" value="<%=post.postType%>">
        <option value="aww">Aww</option>
        <option value="thankful">Thankful</option>
        <option value="blessing">Blessing</option>
        <option value="heartbroken">Heartbroken</option>
        <option value="remorseful">Remorseful</option>  
        <option value="cranky">Cranky</option>
        <option value="free">Free</option>
        <option value="fortunate">Fortunate</option>
        <option value="humbled">Humbled</option>
    </select><br><br>



    <input type="number" placeholder="heart" name='heart' value="<%=post.heart%>"><br><br>
    <input type="number" placeholder="heartBreak" name='heartBreak' value="<%=post.heartBreak%>"><br><br>

 

    <input type="submit">
</form>

<a href="/auth/logout">Logout</a>

<%- include('partials/footer') %>
