<%- include('partials/header-postauth') %>
<div class="grow overflow-y-scroll -mt-10 sm:mt-0	 ">
  <div class="grid grid-cols-8 gap-4">
    <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">
<h1>Edit a Post About Your Mom!</h1>
<form action="/post/editPost/<%=post._id%>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <input type="text" placeholder="Title" name="title" value="<%=post.title%>" />
  <br /><br />
  <input type="text" placeholder="Body" name="body" value="<%=post.body%>" /><br /><br />
  <select id="postType" name="postType">
    <% let choices = [ "Aww", "Thankful", "Blessing", "Heartbroken",
    "Remorseful", "Cranky","Free", "Fortunate", "Humbled" ]
    choices.forEach(choice => { let selected = post.postType === choice ?
    "selected" : ""; %>
    <option value="<%=choice %>" <%="selected" %>> <%=choice %></option>
    <% }) %>
    </select>
    <br /><br />
  <input type="submit" />
</form>
</div>
</div>
</div>
<%- include('partials/footer-postauth') %>