<%- include('partials/header') %>
<h1>Edit a Post About Your Mom!</h1>


 

<form action="/wall/editWallPost/<%=wallPost._id%>" method='POST'>
    <input type="hidden" name="_method" value="PUT">
 
  

    <input type="file" name="image" id="image"   required /><br><br>

    <img src="<%=wallPost.image%>"    /><br><br>

    <textarea type="text" rows="4" cols="40"   name='caption' value="<%=wallPost.caption%>" required></textarea><br><br>

    
    <input type="submit">
</form>

 <a href="/post/dashboard">Dashboard</a>

<a href="/auth/logout">Logout</a>

<%- include('partials/footer') %>