<%- include('partials/header-postauth') %>
<div class="grow  -mt-20 sm:mt-0	 ">
  <div class="grid grid-cols-8 gap-4">
    <div class="col-span-8 sm:col-start-2 sm:col-end-8 lg:col-start-3 lg:col-end-7 card bg-base-300 rounded-box place-items-center p-8">


      <h1 class="text-4xl  font-bold text-center lg:text-left	 "> Mama Picture & Story Time</h1>
      <p class="py-6 text-lg">Click on the image to comment, heart or heartbreak!</p>
      <% allWallPosts.forEach(wallPost => { %>
      <div class=" bg-base-200 w-10/12 sm:w-11/12  py-2 rounded-md shadow-md mb-6">
        <div class="card  bg-base-100 shadow-xl h-full">
          <div class="bg-base-100  grid w-full flex-grow gap-3 rounded-xl rounded-tl-none  shadow-xl">
            <div class="flex flex-col items-center space-x-2">
              <div class=" avatar">
                <div class="w-24 rounded-full  ">
                  <% users.forEach(user => { %>
                  <% if(wallPost.loginID.toString() === user.loginID.toString()){%>
                  <img src="<%=user.image%>" alt="Avatar Tailwind CSS Component" class="mask mask-hexagon"> <%  } %>
                  <% }) %>
                </div>
              </div>
              <% users.forEach(user => { %>
              <% if(wallPost.loginID.toString() === user.loginID.toString()){%>
              <div class="text-lg  font-extrabold"><%=user.firstName%></div><%  } %> <% }) %>
            </div>

          </div>
          <div class="divider p-4 ">
               <button class=" btn bg-base-200 w-60 sm:min-w-max"
              >
              <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-arrow-clockwise  w-6 h-6" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
              </svg>

              <span class="refresh-page m-2 ">Refresh Page</span>
            </button>


           </div>

          <a href="/wall/<%= wallPost._id%>">
            <img src="<%=wallPost.image%>" loading="lazy" width="100%" class="" /></a>
          <div class="bg-base-200 p-6 m-6 rounded-md ">
            <a href="/wall/<%= wallPost._id%>">
            <p class="p-2 m-2 text-md "><%=wallPost.caption%></a></p>
          </div>
        </div>
      </div>
      <% }) %>

      <br><br>
    </div>
  </div>
</div>
<%- include('partials/footer-postauth') %>