<%- include('partials/header') %>
<h1>Login to All My Life She Sacrificed</h1>
<a href="/auth/google">Login</a><br><br>

<h1>This will be all the Public Posts Made</h1>
<ul>
<% allPosts.forEach(post => { %>
        <li><%=post.title%></li>
        <li><%=post.body%></li>
        <li><%=post.postType%></li>
        <li><%=post.heart%></li>
        <li><%=post.heartBreak%></li>
        <br>

<% }) %>    
</ul>

<a href="/post/dashboard">Dashboard</a>
<%- include('partials/footer') %>
