<%- include('partials/header') %>
<h1>Home Page</h1>
<a href="/auth/google">Login</a><br /><br />
<a href="/updatedindex">Make a Post</a>
<a href="/post/dashboard">Dashboard</a>

<h1>HOME - Public Posts</h1>
<h2>Comment on posts you find interesting</h2>

<ul>
        <% allPosts.forEach(post => { %>
        <li><%=post.title%></li>
        <li><%=post.body%></li>
        <li><%=post.postType%></li>
        

        <button class='<%=post.heartIncrement === true ? 'increase' : 'decrease' %>' data-PostHeartID='<%=post._id%>'  > <i class="bi bi-heart-fill"></i>   <%=post.heart%>
        </button>

        <%=console.log(post.heartIncrement) %>
 



        <button><i class="bi bi-heartbreak-fill"></i>   <%=post.heartBreak%></button>

    

        <!-- Can also add a get request link here that once the user clicks on, only then are comments shown -->
        <% allComments.forEach(reply => {%> 
        <% if(post._id.toString() === reply.post.toString()){%>

        <li><%=reply.body%></li>
        <button><i class="bi bi-heart-fill"></i>   <%=reply.heart%></button>
        <button><i class="bi bi-heartbreak-fill"></i>   <%=reply.heartBreak%></button>

        <% } %> <% })%>
            <br>    <span><b>Add a Comment</b></span>
        <form action="/comment/<%=post._id%>/createComment" method="POST">
                <input type="text" placeholder="Body" name="body" /><br /><br />
                <input type="submit" /> <br /><br />
                <br /><br />
        </form>

        <% }) %>
</ul>

<%- include('partials/footer') %>