<%- include('partials/header-postauth') %>
<div class="grow overflow-y-scroll -mt-10 sm:mt-0	 ">
        <div class="grid grid-cols-8 gap-4">
                <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">
                        <h1>HOME - Public Text Stories</h1>
                        <h2>Comment on stories you find interesting</h2>
                        <ul>
                                <% allPosts.forEach(post => { %>
                                <li><%=post.title%></li>
                                <li><%=post.postType%></li>
                                <a href="/post/<%= post._id%>">
                                        <li><%=post.body%></li>
                                </a>
                                <button class="heartIncreaseDecrease" data-PostHeartID="<%=post._id%>">
                                        <i class="bi bi-heart-fill"></i> <%=post.heart.length%>
                                </button>
                                <button class="heartBreakIncreaseDecrease" data-PostHeartBreakID="<%=post._id%>">
                                        <i class="bi bi-heartbreak-fill"></i>
                                        <%=post.heartBreak.length%></button><br /><br />
                                <% }) %>
                        </ul>
                </div>
        </div>
</div>
<%- include('partials/footer-postauth') %>