<%- include('partials/header') %>
<h1>Home Page</h1>
<a href="/auth/google">Login</a><br /><br />
<a href="/updatedindex">Make a Post</a>

<h1>This will be all the Public Posts and Comments.</h1>
<h2>The Logged in User Should Be able to Comment on any Post.</h2>

<ul>
        <% allPosts.forEach(post => { %>
        <li><%=post.title%></li>
        <li><%=post.body%></li>
        <li><%=post.postType%></li>
        <!-- Can also add a get request link here that once the user clicks on, only then are comments shown -->
        <% allComments.forEach(reply => {%> 
        <% if(post._id.toString() === reply.post.toString()){%>

        <li><%=reply.body%></li>

        <% } %> <% })%>

        <form action="/comment/<%=post._id%>/createComment" method="POST">
                <input type="text" placeholder="Body" name="body" /><br /><br />
                <input type="number" placeholder="heart" name="heart" /><br /><br />
                <input type="number" placeholder="heartBreak" name="heartBreak" /><br /><br />

                <input type="submit" /> <br /><br />
                <br /><br />
        </form>

        <% }) %>
</ul>

<a href="/post/dashboard">Dashboard</a>
<%- include('partials/footer') %>