<%- include('partials/header') %>
<h1>Home Page</h1>
<a href="/auth/logout">Logout</a><br /><br />
<a href="/updatedindex">Make a Post</a>
<a class="count" href="/post/dashboard">Dashboard</a>
<a href="/wall">Wall</a>
<br><br>
<button class="checkMe">CHECK ME</button> 
<span id="push-notify"></span><br><br>

<h1>HOME - Public Stories</h1>
<h2>Comment on stories you find interesting</h2>

<ul>
        <% allPosts.forEach(post => { %>
        <li><%=post.title%></li>
        <li><%=post.postType%></li>
<a href="/post/<%= post._id%>"><li><%=post.body%></li></a>
        

        <button class='heartIncreaseDecrease' data-PostHeartID='<%=post._id%>'  > 
                <i class="bi bi-heart-fill"></i>   <%=post.heart.length%>
        </button>
 
        <button class='heartBreakIncreaseDecrease' data-PostHeartBreakID='<%=post._id%>'  > 
                <i class="bi bi-heartbreak-fill"></i>   <%=post.heartBreak.length%>
        </button><br><br>



        <% }) %>
</ul>

<%- include('partials/footer') %>