<%- include('partials/header-postauth') %>
<div class="grow  -mt-20 sm:mt-0	 ">
  <div class="grid grid-cols-8 gap-4">
    <div class="col-span-8 sm:col-start-2 sm:col-end-8 lg:col-start-3 lg:col-end-7 card bg-base-300 rounded-box place-items-center p-8">

    <h1>Success</h1>
  <h2>Email Details</h2>

  <ul>
    <li>MomName: <%=mom.momName%></li>
    <li>MomEmail: <%=mom.momEmail%></li>
    <li>ChildName: <%=mom.childName%></li>
    <li>ChildEmail: <%=mom.childEmail%></li>
    <li>ChildFirstName: <%=mom.childFirstName%></li>
  </ul>

  <h2>Transaction Details</h2>
  <ul>
    <li>Customer Email: <%=customer.email%></li>
    <li>Customer Name: <%=customer.name%></li>

    <li>Transaction ID: <%=customer.id%></li>
    <li>Invoice Prefix: <%=customer.invoice_prefix%></li>
  </ul>
  </div>
  </div>
</div>
<%- include('partials/footer-postauth') %>