<%- include('partials/header-postauth') %>
<div class="grow overflow-y-scroll">
  <div class="grid grid-cols-8 gap-4">
    <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">


<h1>Login to All My Life She Sacrificed</h1>
<% user.forEach(us => { %>
<a href="/post/dashboard">Dashboard</a> <a href='/editButton'>Edit Profile</a>

<h1>User Profile</h1>

<ul>
        <li><img class="img-thumbnail profile-picture" src='<%=us.image%>' alt=""></li>
      <li><%=us.firstName%></li>
        <li><%=us.lastName%></li>
        <li><%=us.displayName%></li>
        <li><%=us.email%></li>
        <br>

<% }) %>
</ul>
</div>
</div>
</div>

<%- include('partials/footer-postauth') %>