<%- include('partials/header') %>
<h1>Login to All My Life She Sacrificed</h1>
<% user.forEach(us => { %>
<a href="/post/dashboard">Dashboard</a> <a href='/editButton'>Edit Profile</a>

<h1>User Profile</h1>

<ul>  
        <li><img class="img-thumbnail profile-picture" src='<%=us.image%>' alt=""></li>
      <li><%=us.firstName%></li>
        <li><%=us.lastName%></li>
        <li><%=us.displayName%></li>
        <li><%=us.email%></li>
        <br>

<% }) %>    
</ul>

<%- include('partials/footer') %>
