<%- include('partials/header-postauth') %>
<div class="grow overflow-y-scroll -mt-10 sm:mt-0	 ">
  <div class="grid grid-cols-8 gap-4">
    <div class="col-span-8 sm:col-start-2 sm:col-end-8 card bg-base-300 rounded-box place-items-center">

  <h1>Wall Post</h1>

  <ul>
    <img src="<%=wallPost.image%>" width="50%" />

    <br />
    <li><%=wallPost.caption%></li>

    <button
      class="wallPostHeartIncreaseDecrease"
      data-WallPostHeartID="<%=wallPost._id%>"
    >
      <i class="bi bi-heart-fill"></i> <%=wallPost.heart.length%>
    </button>

    <button
      class="wallPostHeartBreakIncreaseDecrease"
      data-wallPostHeartBreakID="<%=wallPost._id%>"
    >
      <i class="bi bi-heartbreak-fill"></i> <%=wallPost.heartBreak.length%>
    </button>
    <br /><br />

    <span><b>Add a Comment</b></span>

    <form action="/wall/<%=wallPost._id%>/createComment" method="POST">
      <input type="text" placeholder="Body" name="captionComment" required />
      <input type="submit" />
    </form>
    <br /><br />

    <span><b>Comments</b></span>

    <% wallPostComments.forEach(reply => {%> <% if(wallPost._id.toString() ===
    reply.wall.toString()){%>

    <li><%=reply.captionComment%></li>

    <button
      class="wallPostCommentHeartIncreaseDecrease"
      data-WallPostCommentHeartID="<%=reply._id%>"
    >
      <i class="bi bi-heart-fill"></i> <%=reply.heart.length%>
    </button>

    <button
      class="wallPostCommentHeartBreakIncreaseDecrease"
      data-wallPostCommentHeartBreakID="<%=reply._id%>"
    >
      <i class="bi bi-heartbreak-fill"></i> <%=reply.heartBreak.length%>
    </button>
    <br /><br />

    <% } %> <% })%>
  </ul>
  </div>
  </div>
</div>
<%- include('partials/footer-postauth') %>