<%- include('partials/header') %>
<h1>Home Page</h1>
<br /><br />
<a href="/loggedinindex">Home</a>
<a href="/wall/feed">Feed</a>
<a href="/profile">Profile</a>
<a href="/updatedindex">Make a Post</a>
<a href="/wall">Wall</a>
<a href="/message">Contact Us</a><br /><br />
<br /><br />
<button class="checkMe">CHECK ME</button>
<span id="push-notify"></span><br /><br />

<h1>Wall Post</h1>

<ul>
  <img src="<%=wallPost.image%>" width="50%" />

  <br />
  <li><%=wallPost.caption%></li>

  <button
    class="wallPostHeartIncreaseDecrease"
    data-WallPostHeartID="<%=wallPost._id%>"
  >
    <i class="bi bi-heart-fill"></i> <%=wallPost.heart.length%>
  </button>

  <button
    class="wallPostHeartBreakIncreaseDecrease"
    data-wallPostHeartBreakID="<%=wallPost._id%>"
  >
    <i class="bi bi-heartbreak-fill"></i> <%=wallPost.heartBreak.length%>
  </button>
  <br /><br />

  <span><b>Add a Comment</b></span>

  <form action="/wall/<%=wallPost._id%>/createComment" method="POST">
    <input type="text" placeholder="Body" name="captionComment" required />
    <input type="submit" />
  </form>
  <br /><br />

  <span><b>Comments</b></span>

  <% wallPostComments.forEach(reply => {%> <% if(wallPost._id.toString() ===
  reply.wall.toString()){%>

  <li><%=reply.captionComment%></li>

  <button
    class="wallPostCommentHeartIncreaseDecrease"
    data-WallPostCommentHeartID="<%=reply._id%>"
  >
    <i class="bi bi-heart-fill"></i> <%=reply.heart.length%>
  </button>

  <button
    class="wallPostCommentHeartBreakIncreaseDecrease"
    data-wallPostCommentHeartBreakID="<%=reply._id%>"
  >
    <i class="bi bi-heartbreak-fill"></i> <%=reply.heartBreak.length%>
  </button>
  <br /><br />

  <% } %> <% })%>
</ul>

<%- include('partials/footer') %>
